{% extends "default.html" %}

{% block content %}
    <main role="main" class="container px-4 py-4 sm:py-8">
        <div class="mb-8">
            <h2 class="text-xl sm:text-2xl font-bold">
                Travail…
            </h2>
            <p class="text-lg sm:text-xl font-bold text-grey-darker">
                Je suis le co-fondateur de <a href="https://www.quantic-telecom.net" class="text-indigo-dark italic">Quantic Telecom</a>, un fournisseur d'accès à Internet.<br>
                J'enseigne également la programmation <a href="https://www.youtube.com/user/tdauce" class="text-indigo-dark italic">sur YouTube</a> / <a href="https://www.formation-laravel.fr" class="text-indigo-dark italic">Formation Laravel</a>.
            </p>
        </div>
        <div class="mb-8">
            <h2 class="text-xl sm:text-2xl font-bold">
                Lectures…
            </h2>
            <p class="text-lg sm:text-xl font-bold text-grey-darker">
                <a href="https://www.decitre.fr/ebooks/le-crepuscule-et-l-aube-9782221248744_9782221248744_3.html" class="text-indigo-dark italic">Le Crépuscule et l'Aube</a> de Ken Follet sur ma <a href="https://www.decitre.fr/liseuses/liseuse-touch-hd-plus-noir-bronze-7640152095276.html" class="text-indigo-dark italic">Tea Touch HD Plus</a>.
            </p>
        </div>
        <div class="mb-8">
            <h2 class="text-xl sm:text-2xl font-bold">
                Développement…
            </h2>
            <p class="text-lg sm:text-xl font-bold text-grey-darker">
                Je travaille actuellement sur <a href="https://www.php.net/" class="text-indigo-dark italic">PHP</a>/<a href="https://laravel.com/" class="text-indigo-dark italic">Laravel</a>/<a href="https://vuejs.org/" class="text-indigo-dark italic">VueJS</a> avec <a href="https://www.sublimetext.com/" class="text-indigo-dark italic">Sublime Text</a> sur <a href="https://wiki.archlinux.org/" class="text-indigo-dark italic">ArchLinux</a>.
                J'expérimente avec <a href="https://www.rust-lang.org/" class="text-indigo-dark italic">Rust</a> et <a href="https://rocket.rs/" class="text-indigo-dark italic">Rocket</a>.
            </p>
        </div>
    </main>
{% endblock content %}