{% extends "default.html" %}

{% block content %}
    <main role="main" class="container space-y-12">
        <div class="space-y-3">
            <h2 class="title">
                Travail…
            </h2>
            <p class="prose">
                Je suis actuellement développeur Rust chez <a href="https://cosmian.com">Cosmian</a>.<br>
                J'ai co-fondé <a href="https://www.quantic-telecom.net">Quantic Telecom</a>, un fournisseur d'accès à Internet.<br>
                J'enseigne également la programmation <a href="https://www.youtube.com/user/tdauce">sur YouTube</a> / <a href="https://www.formation-laravel.fr">Formation Laravel</a>.
            </p>
        </div>
        <div class="space-y-3">
            <h2 class="title">
                Lectures…
            </h2>
            <p class="prose">
                <a href="https://fr.wikipedia.org/wiki/La_Roue_du_temps">La Roue du temps</a> de Robert Jordan sur ma <a href="https://www.fnac.com/Liseuse-numerique-Kobo-by-Fnac-Libra-H2O-7-8-Go-H2O-Noir/a13681417/w-4">Kobo Libra H2O</a>.
            </p>
        </div>
        <div class="space-y-3">
            <h2 class="title">
                Développement…
            </h2>
            <p class="prose">
                Je travaille actuellement avec <a href="https://www.rust-lang.org/">Rust</a> et <a href="https://actix.rs/">Actix</a> sur <a href="https://code.visualstudio.com/">VSCode</a> et <a href="https://wiki.archlinux.org/">ArchLinux</a><br>
            </p>
        </div>
    </main>
{% endblock content %}