{% extends "default.html" %}

{% block content %}
    <main role="main" class="container space-y-12">
        <div class="space-y-3">
            <h2 class="title">
                Travail…
            </h2>
            <p class="prose">
                Je suis le co-fondateur de <a href="https://www.quantic-telecom.net">Quantic Telecom</a>, un fournisseur d'accès à Internet.<br>
                J'enseigne également la programmation <a href="https://www.youtube.com/user/tdauce">sur YouTube</a> / <a href="https://www.formation-laravel.fr">Formation Laravel</a>.
            </p>
        </div>
        <div class="space-y-3">
            <h2 class="title">
                Lectures…
            </h2>
            <p class="prose">
                <a href="https://www.decitre.fr/ebooks/le-crepuscule-et-l-aube-9782221248744_9782221248744_3.html">Le Crépuscule et l'Aube</a> de Ken Follet sur ma <a href="https://www.decitre.fr/liseuses/liseuse-touch-hd-plus-noir-bronze-7640152095276.html">Tea Touch HD Plus</a>.
            </p>
        </div>
        <div class="space-y-3">
            <h2 class="title">
                Développement…
            </h2>
            <p class="prose">
                Je travaille actuellement sur <a href="https://www.php.net/">PHP</a>/<a href="https://laravel.com/">Laravel</a>/<a href="https://vuejs.org/">VueJS</a> avec <a href="https://www.sublimetext.com/">Sublime Text</a> et <a href="https://wiki.archlinux.org/">ArchLinux</a>.
                J'expérimente avec <a href="https://www.rust-lang.org/">Rust</a> et <a href="https://rocket.rs/">Rocket</a>.
            </p>
        </div>
    </main>
{% endblock content %}