<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }} — Thibaud Dauce</title>
    <link rel="stylesheet" href="/css/app.css"/>

    <link rel="alternate" type="application/rss+xml" title="Thibaud Dauce" href="/feed.xml">
    <link rel="shortcut icon" href="/images/favicon.png">

    <meta property="og:title" content="{{ title }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ThibaudDauce" />
    {% if description %}
        <meta property="og:description" content="$description$">
    {% endif %}
</head>
<body class="overflow-x-hidden bg-gray-100 text-black font-serif leading-normal min-h-screen flex flex-col py-6 sm:py-12">
    <header class="container mb-12 space-y-4">
        <div>
            {% if subtitle %}
                <h2 class="sm:text-lg font-normal">
                    <a href="/" class="text-black">{{ subtitle }}</a>
                </h2>
            {% endif %}
            <h1 class="text-xl sm:text-2xl font-normal">{{ title }}</h1>
        </div>
        <nav class="flex items-center space-x-3 text-sm sm:text-base leading-none">
            <a href="/" class="font-semibold {% if blog %} text-black {% else %} text-gray-600 hover:text-black {% endif %}">Blog</a>
            
            <span class="hidden sm:inline h-1 w-1 rounded-full bg-gray-500"></span>
            
            <a href="/talks.html" class="font-semibold {% if talks %} text-black {% else %} text-gray-600 hover:text-black {% endif %}">Conférences</a>
            
            <span class="hidden sm:inline h-1 w-1 rounded-full bg-gray-500"></span>
            
            <a href="https://www.youtube.com/user/tdauce/" class="font-semibold text-gray-600 hover:text-black">Vidéos</a>
            
            <span class="hidden sm:inline h-1 w-1 rounded-full bg-gray-500"></span>
            
            <a href="/about.html" class="font-semibold {% if about %} text-black {% else %} text-gray-600 hover:text-black {% endif %}">À propos</a>
        </nav>
    </header>
    
    {% block content %}
    {% endblock content %}
    
    <footer class="container text-center px-4 py-12 mt-12 text-sm text-gray-800">
        <p>
            Ce blog est généré statiquement en Rust. Si vous trouvez une faute ou un problème, <a href="https://github.com/ThibaudDauce/thibaud.dauce.fr" class="text-indigo-600 italic">vous pouvez contribuer via Github</a>.
        </p>
    </footer>
</body>
</html>
