{% extends "default.html" %}

{% block content %}
    <div id="map" class="w-full " style="height: 50rem"></div>

    <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoidGhpYmF1ZGRhdWNlIiwiYSI6ImNqMHdpNXNiYjAwMTkzMm1vbWpwb2p6czkifQ.bxPv6_pQ9eucWIDMdyBygg';
    var map = L.mapbox.map('map', 'mapbox.streets');

    // omnivore will AJAX-request this file behind the scenes and parse it:
    // note that there are considerations:
    // - The file must either be on the same domain as the page that requests it,
    //   or both the server it is requested from and the user's browser must
    //   support CORS.

    map.setView(new L.LatLng(46.498, 2.197), 7);

    var customLayer = L.geoJson(null, {
        // http://leafletjs.com/reference.html#geojson-style
        style: function(feature) {
            return { color: '#FC6E51' };
        }
    });

    function loadGPX(traces)
    {
        traces.forEach(function(trace) {
            omnivore.gpx('/traces/' + trace, null, customLayer)
                .addTo(map);
        });
    }

    loadGPX([
        {% for trace in traces %}
            '{{ trace }}',
        {% endfor %}
    ])
    </script>
{% endblock content %}
