{% extends "default.html" %}

{% block content %}
<div id="map" class="w-full " style="height: 50rem"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
<script>
    var map = L.map('map').setView(new L.LatLng(46.498, 2.197), 7);

    var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    }).addTo(map);

    function loadGPX(traces) {
        traces.forEach(function (trace) {
            console.log(trace);
            new L.GPX('/traces/' + trace, {
                async: true, marker_options: {
                    iconSize: [11, 15],
                    shadowSize: [16.6, 16.6],
                    iconAnchor: [5.3, 15],
                    shadowAnchor: [5.3, 15.6],
                    startIconUrl: '/images/pin-icon-start.png',
                    endIconUrl: '/images/pin-icon-end.png',
                    shadowUrl: '/images/pin-shadow.png',

                }
            }).addTo(map)
        });
    }

    loadGPX([
        {% for trace in traces %}
    '{{ trace }}',
        {% endfor %}
    ])
</script>
{% endblock content %}